.list_item {
  font-size: 48px;
  padding: 10px;
  border: 1px solid green;
  /* animation: fade_in 2s; */
}

@keyframes fade_in {
  from {opacity: 0 };
  to { opacity: 1};
  
}

.name_list {
  list-style-type: none;
}

.title {
  margin: auto;
  text-align: center;
  border: 1px solid green;
  padding: 2em;
}


.kitten {
  opacity: 0.1;
}

.kitten:hover {
  cursor: pointer;
}

.kitten-enter {
  opacity: 0.1;


.kitten-enter-active {
  opacity: 1;
  color: red;
  transition: opacity 3000ms, color 3000ms;
}

.kitten-enter-done {
  opacity: 1;
}


/* 
enter
enter-active
enter-done

exit
exit-active
exit-done 
*/


.kitten-exit {
  opacity: 1;
}

.kitten-exit-active {
  opacity: 0;
  transition: opacity 1500ms ease-out;
}